@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

[data-theme="light"],
:root:not([data-theme="dark"]),
:root:not([data-theme="light"]),
[data-theme="dark"] {
  --primary: #79D;
  --primary-hover: #57A;
  --primary-focus: rgba(152, 152, 219, 0.25);
  --primary-inverse: #FFF;
}

html,
body {
  margin: 0;
  padding: 0;
}

div,
nav,
h3,
h1,
body {
  font-family: 'League Spartan', sans-serif;
}

strong {
  font-size: 1.5rem
}

article {
  background-color: #A9D4;
  animation: fadeUp 1s;
}

#recommendations {
  opacity: 0;
  transition : opacity 2s;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
}
